<h1>Listing illusts</h1>

<h2>Genre:original</h2>

<% @illusts.each do |illust| %>

  <% if illust.genre != "original" then next end %>
  
  <%= link_to image_tag(illust.picture, height:100), illust if illust.picture.present? %>

<% end %>

<br />

<h2>Genre:fanart</h2>

<% @illusts.each do |illust| %>

  <% if illust.genre != "fanart" then next end %>

  <%= link_to image_tag(illust.picture, height:100), illust if illust.picture.present? %>

<% end %>

<br />

<%= link_to 'New Illust', new_illust_path %>
